
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>COVID-19 TRACKER</title>
    
    <style>
   
   @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    body{
          color:#3D5170;
          font-family: 'Poppins', sans-serif;
        }

    .stats .curr_stat .row
    {
       height:10rem;
    }
</style>
  </head>
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


                                                                                                                                   
    


  <a class="navbar-brand" href="/">COVID-19 Tracker| India</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  
    <span class="navbar-toggler-icon"></span>
  
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  
    <div class="navbar-nav">
      <a class="nav-item nav-link active px-3" href="/">India's Stats<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active px-3" href="/statewise/">India State wise<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active px-3" href="/country/">Country wise<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active px-3" href="/news/">News<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active px-3" href="https://kapilguptadtu.github.io/Web-Store/">VIEW MY WEBSTORE<span class="sr-only">(current)</span></a>
      
    </div>
  
  </div>

</nav>
    

<div class="container-fluid mt-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">OVERALL STATS  | INDIA</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fa fa-pencil" aria-hidden="true"></i>
 Last Update 1 Hour Ago</a>
    </div>

     <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left border-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h4 text-xs font-weight-bold text-info text-uppercase mb-1">CONFIRMED</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800 ml-4" >
                          <span id="conf"></span>
                        <span class="deltaconfirmed badge badge-light">
                            <span class="text-info text-bold" id="conf-plus">
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-check-circle fa-4x text-info" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left border-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h4 text-xs font-weight-bold text-info text-uppercase mb-1">ACTIVE</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800 ml-4" >
                          <span id="act"></span>
                        <span class="deltaconfirmed badge badge-light">
                            <span class="text-info text-bold" id="act-plus">
                           
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-medkit fa-4x text-info" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left border-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h4 text-xs font-weight-bold text-info text-uppercase mb-1" >RECOVERED</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800 ml-4"  >
                          <span id="rec"></span>
                        <span class="deltaconfirmed badge badge-light">
                            <span class="text-info text-bold"id="rec-plus">
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-smile-o fa-4x text-info" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                                                            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left border-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h4 text-xs font-weight-bold text-danger text-uppercase mb-1">DECEASED</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800 ml-4">
                        <span id="dec"></span>
                        <span class="deltaconfirmed badge badge-light" >
                            <span class="text-danger text-bold"id="dec-plus">
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-user fa-4x text-danger" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     </div>
    <!-- CHART STARTS HERE -->
    <div class="row">

            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold">Date wise Reported Cases</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

             <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold">Daily Analysis</h6>
                </div>
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myappChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">


                    <h5>Latest Updates Of Last 24 Hours</h5>
                  </div>
                </div>
              </div>
            </div>
    </div>

</div>

<script>
    const dates = [];
    const confirmed = [];
    const recovered = [];
    const deceased  = [];
    var dailrec=0;
    var dailconf=0;
    var daildec=0;
    var ctx = document.getElementById('myChart').getContext('2d');
    var rec=document.getElementById('rec');
    var rec_plus=document.getElementById('rec-plus');
    var act=document.getElementById('act');
    var act_plus=document.getElementById('act-plus');
    var dec=document.getElementById('dec');
    var dec_plus=document.getElementById('dec-plus');
    var conf=document.getElementById('conf');
    var conf_plus=document.getElementById('conf-plus');
      
    const url = 'https://api.covid19india.org/data.json';
    async function getInfo(){
        const response = await fetch(url);
        const data = await response.json();
        const series_data = data.cases_time_series;
        const len_data = series_data.length
        for(var i=len_data-31;i<len_data;i++){
            const date = series_data[i].date;
            const confirm = series_data[i].dailyconfirmed;
            const recover = series_data[i].dailyrecovered;
            const death = series_data[i].dailydeceased;
            dates.push(date);
            confirmed.push(parseInt(confirm));
            recovered.push(parseInt(recover));
            deceased.push(parseInt(death));
        }
      var l=len_data-1;

    rec.innerHTML=series_data[l].totalrecovered;
    rec_plus.innerHTML="+"+series_data[l].dailyrecovered;
    
     conf.innerHTML=series_data[l].totalconfirmed;
     conf_plus.innerHTML="+"+series_data[l].dailyconfirmed;
    
     dec.innerHTML=series_data[l].totaldeceased;
     dec_plus.innerHTML="+"+series_data[l].dailydeceased;
    
     act.innerHTML=parseInt(series_data[l].totalconfirmed)-parseInt(series_data[l].totalrecovered);
     act_plus.innerHTML="+"+parseInt(series_data[l].dailyconfirmed)-parseInt(series_data[l].dailyrecovered);
     act_plus.innerHTML="+"+act_plus.innerHTML;

     dailrec=series_data[l].dailyrecovered;
      dailconf=series_data[l].dailyconfirmed;
     daildec=series_data[l].dailydeceased;
     

    }
    getInfo();
   
    console.log(confirmed);
    console.log(dates);


var chart = new Chart(ctx, {
    type: 'line',

    data: 
    {
        labels: dates,
        datasets: [{
            label: 'Confirmed',
            backgroundColor: 'rgba(75,192,192,0.2)',
            borderColor: 'rgba(75,192, 192, 0.2)',
            data: confirmed
        },
        {
            label: 'Recovered',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 0.2)',
            data: recovered
        },
        {
            label: 'Deceased',
            backgroundColor:'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 0.2)',
            data: deceased
        }
      ]
    },

    // Configuration options go here
     options: {
            responsive: true,
            maintainAspectRatio: true,

           scales: {
      xAxes: [{
        gridLines: {
          display: false,
          drawBorder: false
        }
      }],
      yAxes: [{
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }]
    }
    }
});
</script>

<script>
  console.log(parseInt(dailconf));
  var a=parseInt(dailconf);
  var b=parseInt(dailrec);
  var c=parseInt(daildec);
  
  a=10;b=10;c=10;
  var dataArray=[a,b,c];
var ctx = document.getElementById("myappChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Confirmed", "Recovered", "Deceased"],
    datasets: [{
      backgroundColor: [
        "#17A2BB",
        "#3498db",
        "#FF6384"
      ],
      data:dataArray
      // data: [parseInt(dailconf),parseInt(dailrec),parseInt(daildec)]
    }]
  }
});
</script>
<script>
  setTimeout(function(){ 
    chart.update();
    console.log("chart initialized");
    a=parseInt(dailconf);
    // a=100;
    dataArray=[parseInt(dailconf),parseInt(dailrec),parseInt(daildec)];
    myChart.data.datasets[0].data=[];
    myChart.data.datasets[0].data=dataArray;
    
    myChart.update();
    // console.log(a) 
    },
    300
    );

  setInterval(function(){ chart.update();myChart.update();console.log("updated") }, 30000);

</script>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://use.fontawesome.com/fcfefdb808.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>